<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<link rel="stylesheet" href="styles.css"/>
	<script src="refresh.js"></script>  
	<title>Web Application Nacres</title>
  <style>
    body {
      background: url('img/views/{{image}}.jpg'); 
      background-size: 100% auto;
    }
  </style>
</head>
<body>
  <header>
    <span class="logo">Comming Soon...</span>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>